@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #0f0f0fff;
}

.sticky {
    background-color: #0f0f0fff;
    color: #F0F5F9;
    width: 125%;
    padding-top: 2%;
    height: 110%;
    border-radius: 25px;
    text-align: right;
}

.navbar {
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 10%;
    color: #F0F5F9;
    transition: 0.4s ease;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    position: inherit;
    background: none;
    width: auto;
    height: auto;
    display: flex;
    padding-top: 0;
    margin-bottom: 0;
}

nav ul a li {
    display: block;
    width: 100%;
    padding: 1vh 1.4vh;
}

li,
a {
    font-weight: 50vh;
    font-size: 2vh;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

nav ul a {
    float: left;
    margin: 1% 1.4%;
}

nav ul a li:hover {
    background-color: #758d44;
    color: black;
    transition: 0.4s ease-in-out;
    border-radius: 25px;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    width: 15%;
    height: 7%;
}

.demo-wrap {
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.demo-content {
    position: relative;
}


/* .page{
    background-image: url("images/Stock\ Market\ Animation.gif");
        background-repeat:no-repeat;
        background-size: cover;
        height:93vh
} */

.topic {
    padding-top: 5%;
    padding-left: 12.5%;
    text-align: left;
    width: 45%;
}

.topic h1 {
    padding-top: 10%;
    font-size: 10vh;
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-weight: 600;
}

.topic p {
    padding-top: 2%;
    font-size: 3.75vh;
    font-weight: 600;
    text-align: left;
    color: white;
    line-height: 1.5;
    text-shadow: 4px 4px 8px #000000;

}

.panel-1 {
    background-color: #7C83FD;
    border-radius: 25px;
    width: 60%;
    height: 50%;
    /* display: flex; */
    z-index: 1;
    display: inline-block;
    justify-content: right;
    margin-top: 10%;
    margin-left: 5%;
}

.features {
    padding: 8vh 3vw;
    display: flex;
    padding: 3.5%;
    /* justify-content:space-around; */
    width: 100%;
    height: 40%;
}

.card-body {
    color: #0f0f0f;
    border-radius: 10px;
}



.card-body p {
    font-size: 1.7vh;
    color: #323232;
    text-align: left;
}

.card {
    transition: width ease 0.3s;
    border-radius: 10px;
    background-color: #96BAFF;
    margin: 0% 0% 0% 3%;
    height: 320%;
}

/* .card-1 .card-2 .card-3 {
    margin:vh;
} */

.card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

/* .card:hover p{
    display:inline;
    transition: 0.3s ease;
  } */

.card:after {
    content: "";
    width: 0;
    height: 1vh;
    cursor: pointer;

    background-color: #7DEDFF;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.card:hover::after {
    content: "";
    width: 100.5%;
    height: 1vh;
    cursor: pointer;
    background-color: #7DEDFF;
    position: absolute;
    bottom: -1px;
    left: -1px;
    transition: width ease 0.5s;
}

.bg2 {
    background-image: url("images/invst.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.panel-2 {
    background-color: #7C83FD;
    border-radius: 25px;
    width: 60%;
    height: 50%;
    display: flex;
    z-index: 1;
    display: inline-block;
    position: absolute;
    justify-content: right;
    margin-top: 5%;
    margin-left: 40%;

}

.panel-2 h1 {
    text-align: right;
    font-size: 5.0vh;
    padding: 25px 40px 10px 10px;
    color: black;
    font-weight: 25px;
}

.panel-2 p {
    text-align: right;
    color: black;
    padding: 25px 40px 10px 10px;
    font-size: 3vh;
    font-weight: 15px;
}



.form-signin {
    width: 100%;
    max-width: 50%;
    padding: 5%;
    ;
    margin: auto;
    text-align: center;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-control {
    border-radius: 0;
}

.top {
    margin-bottom: -1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.middle {}

.bottom {
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.input-form {
    padding: 2vh 0;
}

.form-signin button {
    width: 50%;
    background-color: #0f0f0f;
    color: #f0f5f9;
}

.form-signin button:hover {
    background-color: #777;
}

.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.footer {
    width: 100%;
    background-color: #7DEDFF;
    position: relative;
    z-index: 1;
    margin-top: 100vh;
}

.footer-basic {
    padding: 40px 0;
    background-color: #96BAFF;
    color: #0f0f0f;

}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
    font-size: .8em;
    color: #0f0f0f;
    padding: 1em 2em;
}


@media only screen and (max-width: 700px) {
    /* For mobile phones: */

    .card-body p {
        font-size: 10px;
        color: #323232;
        text-align: left;
    }

    .card-title{
        font-size: 15px;
    }
    

    .features {
        /* justify-content:space-around; */
        display: inline-block;
        width: 100%;
        height: 15vh;
    }



}